:root {
  --purple: rgb(216, 9, 216);
  --dark: rgb(55, 55, 55);
}
.switch {
  width: 5rem;
  display: grid;
  font-size: 1.2rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;

  .switch-choice {
    padding: 0 0.5rem;
    color: rgb(107, 106, 106);
  }

  .switch-choice:first-child {
    border-right: 2px solid var(--dark);
  }

  .pressed {
    color: white;
  }

  a.switch-choice:hover {
    color: var(--purple);
  }

  .disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
